# weight 폴더 내 .pt 파일들
/weights/*.pt

# static 내 모든 이미지 파일 (예: .png, .jpg, .jpeg 등)
/static/**/*.png
/static/**/*.jpg
/static/**/*.jpeg

# 캐시 / 빌드 / 임시 파일
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
.DS_Store
*.swp
.env
.venv/
node_modules/
dist/
build/
.cache/
