# weight 폴더 내 pt 파일들
/weights/**/*.pt
/weights/**/*.pth
/weights/**/*.ckpt
/weights/**/*.yaml

# static 내부 이미지들
/static/**/*.png
/static/**/*.jpg
/static/**/*.jpeg

# 기타 불필요한 캐시 등
__pycache__/
*.pyc
*.pyo
*.log
.DS_Store
.env
.cache/
.venv/
